*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: Roboto; 
}

.flex{
   display: flex;
}

.absolute{
   position: absolute;
}

.relative{
   position: relative;
}

.fixed{
   position: fixed;
}


/* INIZIO HEADER */

header{
   width: 100%;
   height: auto;
   background-color: rgb( 255, 105, 0);
   justify-content: center;
   z-index: 1;
   top: 0;
}

.start-menu{
   width: 1450px;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
}

.categoria .selezione{
   margin: 0 10px;
   font-weight: 600;
   color: white;
   text-decoration: none;
}

.categoria .selezione:hover{
   text-decoration: underline;
}

.logo{
   width: 150px;
}

.icon-start-menu{
   color: white;
   font-size: 20px;
   margin: 0 8px;
}

.icon-start-menu:hover{
   color: rgb(226, 226, 226);
}
/* FINE HEADER */





.img{
   width: 470px;
   height: 670px;
   max-width: 100%;
}



/* ho inserito questa altezza perche senza faceva 
casino quando andavo in hover su img :( */
.img-cuore-sconto{    
   height: 670px;
}



.strike{
   text-decoration: line-through;
}

.price-red{
   color: red;
   font-weight: 800;
   font-size: 16px;
}

h2{
   font-size: 21px;
   font-weight: 600;
}

.card{
   width: 470px;
   height: 740px;
   margin-bottom: 60px;
}

/* INIZIO CUORE */
.scatola-cuore{
   width: 50px;
   height: 50px;
   background-color: white;
   display: block;
   top: 2%;
   right: 0;
}

.cuore{
   font-size: 40px;
   justify-content: center;
}

.cuore:hover{
   color: red;
}
/* FINE CUORE */

.sconto{
   color: white;
   font-weight: 500;
   text-align: center;
   background-color: red;
   padding: 5px;
   width: 60px;
   bottom: 8%;
}

.sostenibile{
   color: white;
   font-weight: 600;
   text-align: center;
   background-color: green;
   padding: 5px;
   width: 100px;
   bottom: 8%;
   left: 14%;
}



/* INIZIO Main */

.catalogo{
   justify-content: center;
}

.cards{
   width: 1450px;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 130px;
}

/* INIZIO RELAXED */

.img.relaxed-hidden{
   display: none;
}

.card.relaxed:hover .img.relaxed{
   display: none;
}

.card.relaxed:hover .img.relaxed-hidden{
   display: block;
}
/* FINE RELAXED */



/* INIZIO ROSES */

.img.roses-hidden{
   display: none;
}

.card.roses:hover .img.roses{
   display: none;
}

.card.roses:hover .img.roses-hidden{
   display: block;
}
/* FINE ROSES */



/* INIZIO VOGLIA */

.img.voglia-hidden{
   display: none;
}

.card.voglia:hover .img.voglia{
   display: none;
}

.card.voglia:hover .img.voglia-hidden{
   display: block;
}
/* FINE VOGLIA */



/* INIZIO TEE */

.img.tee-hidden{
   display: none;
}

.card.tee:hover .img.tee{
   display: none;
}

.card.tee:hover .img.tee-hidden{
   display: block;
}
/* FINE TEE */



/* INIZIO STRIPE */

.img.stripe-hidden{
   display: none;
}

.card.stripe:hover .img.stripe{
   display: none;
}

.card.stripe:hover .img.stripe-hidden{
   display: block;
}
/* FINE STRIPE */



/* INIZIO MAGLIONE */

.img.maglione-hidden{
   display: none;
}

.card.maglione:hover .img.maglione{
   display: none;
}

.card.maglione:hover .img.maglione-hidden{
   display: block;
}

.sostenibile.alone{
   left: 0;
}
/* FINE MAGLIONE */





/* INIZIO FOOTER */

footer{
   background-color: black;
   justify-content: center;
}

.end-menu{
   width: 1450px;
   justify-content: space-between;
}

.informazioni{
   color: white;
}

h3{
   margin: 30px 0 15px 5px;
}
.info-clienti{
   margin: 0 5px;
   text-decoration: none;
}

.info-clienti:hover{
   text-decoration: underline;
}

.social .lista-social a, .info-clienti, h4{
   color: white;
}

.lista-social{
   list-style: none;
   flex-direction: row;
}

h4{
   margin: 30px 0 0 8px;
}

.fa-brands{
   font-size: 20px;
   margin: 15px 5px;
}

.social, .informazioni{
   margin: 0 20px;
}
/* FINE FOOTER */


